  <% @topic.errors.full_messages.each do |message| %>
    <div class="alert alert-warning" role="alert">
    <%= message %>
    </div>
  <% end %>

<%= form_with model: topic, class: 'mt-4' do |f| %>
  <div class="form-group">
    <%= f.label :title, 'Tópico' %>
    <%= f.text_field :title, class: 'form-control col-md-6' %>
  </div>
  <%= f.submit 'Enviar', class: 'btn btn-primary' %>
<% end %>
